<% provide :title, t("start_lesson") %>
<h1><%= @course.name %></h1>
<h2><%= @course.description %></h2>
<h3><%= t "title_question" %></h3>

<% if @lesson.finished.present? %>
  <h4>
    <%= t "score" %>:
    <%= @lesson.results.is_correct_answers.count %> /
    <%= @lesson.words.count %>
  </h4>
<% end %>

<%= form_for [@course, @lesson] do |f| %>
  <%= f.hidden_field :finished, value: true %>
  <%= f.fields_for :results do |builder| %>
    <ul class="list-unstyled">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= builder.index + 1 %>.
            <%= builder.object.word.content %>
          </h3>
        </div>
        <div class="panel_body">
          <% builder.object.word.answers.each do |answer| %>
            <% if @lesson.finished.nil? %>
              <div class="row">
                <div class="col-sm-1">
                  <%= builder.radio_button :answer_id, answer.id %>
                  <%= builder.hidden_field :word_id, value: answer.word.id %>
                </div>
                <div class="col-sm-4"><%= answer.content %></div>
              </div>
            <% else %>
              <%= render "result", f: builder, answer: answer %>
            <% end %>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <% if @lesson.finished.nil? %>
    <%= f.submit t("submit"), class: "btn btn-primary" %>
  <% end %>
<% end %>
