<tr>
  <td class="course-name">
    <%= course.name %>
  </td>
  <td class="course-description">
    <%= course.description %>
  </td>
  <td class="col-actions text-right">
    <%= link_to [:admin, course], class: "btn btn-info btn-xs" do %>
      <span class="glyphicon glyphicon-eye-open"></span> <%= t :details %>
    <% end %>
    <%= link_to [:edit, :admin, course],
      class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-edit"></span>
      <%= t "edit_course" %>
    <% end %>
    <%= link_to admin_course_path(course), method: :delete,
      class: "btn btn-danger btn-xs", data: {confirm: t(:you_sure)} do %>
      <span class="glyphicon glyphicon-remove"></span> <%= t :delete %>
    <% end %>
  </td>
</tr>
