<% provide title: t("_courses") %>
<h1><% t "_courses" %></h1>
<%= link_to t("_new_course"), new_admin_course_path, {class: "btn btn-primary"} %>
<% if @courses.any? %>
  <table class="table table-hover">
    <tr>
      <th><%= t "name" %></th>
      <th><%= t "description" %></th>
      <th></th>
    </tr>
    <%= render @courses %>
  </table>
  <div class="text-center">
    <%= will_paginate %>
  </div>
<% end %>

